.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.box {
    color: #DD0000;
    text-decoration: none;
}

.player {
    background-color: #161616;

}

.player2 {
    background-color: #161616;




}

.margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    color: #FFFFFF;
    margin: 20px;

}

p {
    color: #FFFFFF;
    margin: 20px;
}

.bb {
    margin-left: 40px;
}

.aa {
    color: gray;
    font-size: 10px;
    margin-left: 50px;
}

#link {
    background-color: #DD0000;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    border-radius: 5px;
    padding: 10px;


}

#link2 {
    background-color: #DD0000;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    margin: 50px;
    border-radius: 5px;
    padding: 10px;
    padding-right: 20px;
    width: 100%;

}

#link3 {
    background-color: #faf6f6;
    color: #101010;
    text-decoration: none;
    font-size: 20px;
    margin: 50px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;

}

.center {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;

}


.container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px;




}

.asad {
    background-color: black;
    text-align: center;
    height: 200px;
    color: #FFFFFF;

}

.lineAyay {
    display: inline;

}